<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<!-- 直接引入实体类所处的包 -->
		<!-- 这样配置的好处，以后直接采用类名作为别名使用 -->
		<package name="pojo"/>
	</typeAliases>
	
</configuration>